<div class="news-card">
  <figure backgroun>
    <img alt="吐露科技" src="<%=news.src%>" />
  </figure>
  <div class="content">
    <p class="date m-c-b"><%=news.date%></p>
    <h2 class="subtitle is-5 m-t-s m-b-s"><%=news.title%></h2>
    <p class="description"><%=news.description%></p>
    <a class="read-more" href="<%=news.link%>">查看更多</a>
  </div>
</div>