<!DOCTYPE html>
<html lang="en">
<%- include('../header/index', {
  title,
  cssSrc
}) %>
<body>
  <%- include(navSrc) %>
  <%- include(containerSrc) %>
  <%- include(footerSrc) %>
</body>
  <script src='assets/js/zepto.js'></script>
  <%- include(jsSrc)  %>
</html>