<p class="desc-item-article">
  <%= productDetailInfo.description %>
</p>
<div class="desc-item">
  <h3 class="subtitle m-t-s is-6 is-text-link">
    产品组成
  </h3>
  <p class="desc-item-article">
    <%=productDetailInfo.makeBy%>
  </p>
</div>
<div class="desc-item">
  <h3 class="subtitle m-t-s is-6 is-text-link">
    储存条件
  </h3>
  <p class="desc-item-article">
    <%=productDetailInfo.saveCondition%>
  </p>
</div>
<div class="desc-item">
  <h3 class="subtitle m-t-s is-6 is-text-link">
    单位定义
  </h3>
  <p class="desc-item-article">
    <%=productDetailInfo.unitDefine%>
  </p>
</div>
<div class="desc-item">
  <h3 class="subtitle m-t-s is-6 is-text-link">
    订购信息
  </h3>
  <table class="table is-bordered product-container">
    <thead>
      <%for(var i in bookingInfo.config){%>
        <th><%=bookingInfo.config[i]%></th>
      <%}%>
    </thead>
    <tbody>
      <%for(var j in bookingInfo.data){%>
        <tr>
          <%for(var k in bookingInfo.data[j]){%>
            <td>
                <%=bookingInfo.data[j][k]%>
            </td>
          <%}%>
        </tr>
      <%}%>
    </tbody>
  </table>
  <small>
    *<%=bookingInfo.description%>
  </small>
</div>