<div class="product-card">
  <img alt="吐露科技，最新产品" src="<%=src%>"/>
  <h4 class="m-t-s"><%=title%></h4>
  <div class="tip-footer over-hidden">
    <small class="is-left price">¥ <%=price%></small>
    <small class="is-right">
      周期
      <%=term%>
      个工作日
    </small>
  </div>
  <p class="desc"><%=desc%></p>
</div>