<%- include('../../../component/nav/sub-nav-shadow') %>
<section class="container m-t-l m-b-l">
  <%- include('../../../component/bread-crumb/index')%>
</section>
<%- include('./component/news-banner/index', newsHeadInfo)%>
<%- include('./component/news-content/index', content)%>
<%- include('./component/news-pagenation/index', pageNation)%>
<%- include('./component/news-list/index', newsList) %>